@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');
/* Roboto fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap');

/* ----------------------------------------General---------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #414042;
    background-color: #f9fcfe;
}
a {
    cursor: pointer;
}
p {
    font-weight: 500;
    margin-bottom: 15px;
}
h1, h2 {
    font-weight: 700;
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 30px;
}
span {
    font-size: 20px;
}
.task-container {
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.task {
    padding-top: 80px;
}
.task-text {
    border-radius: 10px;
    background-color: #D7E1E9;
    padding: 15px;
}
li {
    margin-bottom: 7px;
}
ul {
    margin-bottom: 20px;
}
img { 
    max-width: 100%;
}
.task-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.task-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-title {
    padding-top: 20px;
}
input {
    border-radius: 3px;
    border: 0.5px solid #414042;
}
#task-block {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
}
button {
    padding: 3px 15px;
    background-color: #202020;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.4s ease 0s;
}
button:hover {
    background-color: rgb(75, 75, 75);
}
label {
    display: flex;
    align-items: center;
    gap: 10px;
}