@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');

/* ----------------------------------------General---------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #414042;
    background-color: #f9fcfe;
}
p {
    font-weight: 500;
    margin-bottom: 25px;
}
h1, h2 {
    font-weight: 700;
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 30px;
}
h3 {
    font-weight: 500;
    text-align: center;
    /* padding-top: 20px; */
    margin-bottom: 10px;
}
span {
    font-weight: 700;
}
.task-container {
}
.task {
    padding-top: 80px;
}
.task-text {
    border-radius: 10px;
    background-color: #D7E1E9;
    padding: 15px;
}
img {
    max-width: 130px;
}
img:first-child {
    min-width: 300px;
}
