@import url("reset.css");
/* Sansation fonts */
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationLight.woff2") format("woff2"), url("../fonts/sansation/SansationLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationRegular.woff2") format("woff2"), url("../fonts/sansation/SansationRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationBold.woff2") format("woff2"), url("../fonts/sansation/SansationBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: 'Sansation', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #2E2E2E;
    background-color: #b8d2ec;
}
p {
    font-weight: 500;
    margin-bottom: 25px;
}
h1, h2 {
    font-weight: 700;
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 30px;
}
[class*="__container"]{
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.task {
    padding-top: 80px;
}
.task__text {
    border-radius: 10px;
    background-color: #7fbaf5;
    padding: 15px;
}

li {
    margin-bottom: 7px;
}
ul {
    margin-bottom: 20px;
}
/* a {
	text-decoration: none;
	color: inherit;
}
li {
    
}

table {
    width: 600px;
}
table tr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #fff;
	padding: 5px;
}
table td {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
	padding: 5px;
} */


