@import url("reset.css");
/* Sansation fonts */
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationLight.woff2") format("woff2"), url("../fonts/sansation/SansationLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationRegular.woff2") format("woff2"), url("../fonts/sansation/SansationRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/sansation/SansationBold.woff2") format("woff2"), url("../fonts/sansation/SansationBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: 'Sansation', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #414042;
    background-color: #ffffff;
}
p {
    font-weight: 500;
    margin-bottom: 25px;
}
h1, h2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
}
h1:hover, h2:hover {
    color: #414042;
    text-decoration: underline;
}
[class*="__container"]{
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.task {
    padding-top: 80px;
    padding-bottom: 80px;
}
.task__text {}

li {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #FFDFDC;
    padding: 15px;
}
