/* Montserrat fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    background-color: #2E2D2D;
}
p {
    font-size: 19px;
    font-weight: 500;
}
h1 {
    font-size: 25px;
    color: #E5C243;
    text-decoration: underline;
}

table {
    width: 600px;
}
table tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #fff;
	padding: 5px;
}
table td {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
	padding: 5px;
}